#settings {
  background-color: var(--background);
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px var(--shadow);
  height: 80dvh;
  width: 80dvw;

  & .content {
    margin: 2rem;

    & .title {
      color: var(--title);
      font-size: 2rem;
    }

    & .categories {
      gap: 1rem;

      & .category {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & .info {
          font-size: initial;
          font-weight: initial;
          text-wrap: nowrap;
          background-color: var(--info);
          padding: 2px;
          padding-inline: 5px;
          border-radius: 5px;
        }
      }

      & .element {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 50%;

        & .input {
          border: none;
          width: 200%;
          outline: none;
          caret-color: var(--title);
        }

        & button {
          background-color: transparent;
          border: none;
        }
      }

      & .element:hover {
        background-color: var(--shadow);
        border-radius: 10px;
      }
    }

    & .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
    }

    & .cancel-button {
      position: absolute;
      border: none;
      border-radius: 5px;
      bottom: 20px;
      left: 20px;
      width: 40%;
      height: 40px;
    }

    & .save-button {
      background-color: var(--title);
      border: none;
      border-radius: 5px;
      color: var(--background);
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 40%;
      height: 40px;
    }
  }
}
