#nav {
  position: fixed;
  top: 2rem;
  right: 10rem;
  z-index: 1;
  padding: 1rem;
  border: solid 2px darkcyan;
  background-color: var(--background);
  border-radius: 10px;
}

.nav-button {
  margin: 0.5rem;
}
