#nav {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  gap: 1rem;
  top: 2rem;
  right: 10rem;
  z-index: 1;
  padding: 1rem;
  border: solid 2px darkcyan;
  background-color: var(--background);
  border-radius: 10px;

  & .nav-filter {
    padding: 0.5rem;
    width: 50%;
    outline: none;
  }

  & .nav-button {
    margin: 0.5rem;
  }
}
