[Desktop Entry]
Name=owa
Icon=owa
Comment=Wallpaper Manager
Terminal=false
TryExec=owa
Exec=owa %u
Type=Application
MimeType=inode/directory
Categories=Utility;
Keywords=Wallpapers;Manager;
