[Desktop Entry]
Name=wal
Icon=wal
Comment=Wallpaper Manager
Terminal=false
TryExec=wal
Exec=wal %u
Type=Application
MimeType=inode/directory
Categories=Utility;
Keywords=Wallpapers;Manager;
